{% load wger_extras %}
{% load i18n %}
{% load staticfiles %}

{% block header %}
<script src="{% static 'dropset.js' %}"></script>
{% endblock %}


<div id="formset-exercise-{{exercise.id}}" style="margin-top: 1em;">
<form>
  <div class="form-row">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Percentage Drop</label>
        <select class="form-control" id="percentage-change" placeholder="Percentage drop">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
        </select>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Cycles</label>
      <input type="number" class="form-control" id="cycle-num" min="10" value="10" onchange="setCycle(value)" placeholder="10">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Weight</label>
      <input type="number" class="form-control" id="weight-num" min="10" value="10" onchange="setWeight(value)" placeholder="10">
    </div>
  </div>
  <button type="button" class="btn btn-primary" id="hide-btn" onclick="calcDrops()">Calculate Dropset</button>
</form>
<div class="row">
    <div class="col-md-offset-2 col-md-10">
        <label class="control-label">
            {{exercise}}
        </label>
    </div>
</div>
{{ formset.management_form }}

{% for field in formset %}
<div style="padding-top: 0.5em;">

    {# Header row with field labels, only for first loop #}
    <div class="row">
        {% for i in field %}
        {% if not i.is_hidden %}
            {% if forloop.first %}
            <div class="col-xs-2">
            </div>
            {% endif %}

            {% if forloop.parentloop.first %}
                <div class="{% cycle 'col-xs-3' 'col-xs-2' %}">
                    {{ i.label }}
                    {% if not i.field.required %}
                        <br>
                        <span style="font-size:90%;">— <em>{% trans "Optional" %}</em></span>
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
        {% endfor %}
    </div>

    {# Form field rows #}
    <div class="row">
        {% for i in field %}
            {% if forloop.first %}
            <div class="col-xs-2" style="text-align: right; padding-left: 0px;">
                {% trans "Nr." %} {{ forloop.parentloop.counter }}
            </div>
            {% endif %}

            {% if not i.is_hidden %}
            <div class="{% cycle 'col-xs-3' 'col-xs-2' %} {% if i.errors %}has-error{% endif %}" style="padding-left: 0px;">
            {% endif %}

            {#  Field elements #}
            {% if i|is_checkbox %}
                {{ i|form_field_add_css:'checkbox' }}
            {% else %}
                {{i|form_field_add_css:'form-control'}}
            {% endif %}

            {% for error in i.errors %}
                <div {% if i.errors %}class="has-error has-feedback"{% endif %}>
                <span class="help-block">
                    <p>{% trans error %}</p>
                </span>
                </div>
            {% endfor %}

            {% if not i.is_hidden %}
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endfor %}
</div>
